body{
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    background-size: 300%;
    text-align: center;
    animation: flow 5s ease-in-out infinite;
}
@keyframes flow{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.firstPage, .secondPage{
    
    font-size: xx-large;
    color: white;
    font-family: Fira Code, 'Courier New', Courier, monospace;
    page-break-after: always;
    padding-bottom: 20%;
    
}
.firstPage{
    margin-left: 10%;
    margin-top: 15%;
    
}
.secondPage{
    text-align: center;
    margin-left: 0;
    scroll-behavior: smooth;
}
.menuBar{
    position: sticky;
    top: 0;
    background-color: transparent;
}
.menuLink{
    font-family: Fira Code, 'Courier New', Courier, monospace; 
    color: inherit;
    text-decoration: none;
}
.helloWorld .gradientMessage *{
    animation: flow 10s ease-in-out infinite;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 100px;
    display: inline-block;
    transition: 2s ease-in-out;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.intro, .helloWorld{
    font-family: Fira Code, 'Courier New', Courier, monospace;
    text-align: left;
}
.intro{
    font-size: large;
}
#h:hover, #e:hover, #l1:hover, #l2:hover, #o1:hover, #w:hover, #o2:hover, #r:hover, #l3:hover, #d:hover, #ex:hover{
    transform: translateY(-20px);              
}
#groceryDesk, #sortFiles, #yifyRss{
    display: inline-block;
    border-radius: 2px;
    border-left: 2px solid white;
    padding-left: 2%;
    margin-right: 10%;
    padding-bottom: 2%;
}
.checkoutBtn{
    display: inline-block;
    background: transparent;
    border: 2px solid #0bd326;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    transition: 0.1s ease-in-out;
}
.checkoutBtn:hover{
    /* TODO : apply gradient on button border using nested divs. And maybe add some white shadow too */
    box-shadow: 2px 2px 20px 1px rgb(187, 245, 179);
}
a:hover .bottom{
    border-color: white;
    transform: translateY(20px);
}
a:hover .bottom:after{
    border-top-color:white;
    border-right-color:white;
}
.button-wrapper{
    position: absolute;
    bottom: 10%;
    width: 300px;
    left: 50%;
    margin-left: -150px; 
}
.bottom {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 0.1em solid white;
    border-radius: 50%;
    margin-left: 0.75em;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    background-size: 200%;
    transition: 1s ease-in-out;
    animation: flow 10s ease-in-out infinite;
    
}   
.bottom:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: 0.5em;
    height: 0.5em;
    border-top: 0.1em solid white;
    border-right: 0.1em solid white;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}