html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(3, 0, 8);
    text-align: center;
}
@keyframes flow{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
span a{
    text-decoration: none;
}
.firstPage, .secondPage{
    font-size: xx-large;
    color: white;
    font-family: Fira Code, 'Courier New', Courier, monospace;
    page-break-after: always;
    padding-bottom: 20%; 
}
.firstPage{
    margin-left: 10%;
    margin-top: 15%; 
}
.secondPage{
    padding-top: 2%;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
}
.helloWorld{
    font-size: 100px;
}
.intro, .helloWorld{
    font-family: Fira Code, 'Courier New', Courier, monospace;
    text-align: left;
}
.intro{
    font-size: large;
}
#h, #e, #l1, #l2, #o1, #w, #o2, #r, #l3, #d, #ex{
    animation: flow 10s ease-in-out infinite;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500%;
    cursor: pointer;
    display: inline-block;
    transition: 2s ease-in-out;
}
.projectsHeader{
    padding-top: 25px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
    height: auto;
    color: rgba(231, 60, 126, 0.9);
    background-color: rgba(3, 0, 8, 0.9);
}
#h:hover, #e:hover, #l1:hover, #l2:hover, #o1:hover, #w:hover, #o2:hover, #r:hover, #l3:hover, #d:hover, #ex:hover{
    transform: translateY(-20px);              
}
#groceryDesk, #sortFiles, #yifyRss, #twitterQotd, #chatterIo{
    display: inline-block;
    width: auto;
    border-radius: 2px;
    padding-left: 2%;
    padding-bottom: 2%; 
    background-color: rgb(3, 0, 8);
    margin-top: 0px;
    margin-bottom: -5px;
    margin-left: 2px;
    margin-right: 0px;  
    font-size: 25px;  
}
.secondPage .projectContainer{
    margin-right: 8%;
}
.secondPage .projectContainer:last-child{
    margin-left: 3px;
}
.secondPage{
    margin-bottom: 0;
}
.projectContainer{
    color:  #f2f1ef;
    border-radius: 2px;
    max-width: fit-content;
    display: inline-block;
    background: linear-gradient(to bottom right, #904e95, #904e95, #e73c7e, #ee7752);
    background-size: 300%;
    animation: flow 5s ease-in-out infinite;
    border: none;
    padding: 0;
    margin: 1em auto;
}
.projectContainer:hover{
    background: linear-gradient(to bottom left, #904e95, #904e95, #e73c7e, #ee7752);
    background-size: 300%;
    animation: flow 1s ease-out infinite;
}
.logoContainer{
    padding-top: 5px;
}
.logoContainer:hover .tooltip-text {
    display: block;
}
.tooltip-text {
    display: none;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    opacity: 0.9;
    color: #fff9de;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    position: absolute;
    z-index: 5;
    width:200px;
    min-height:50px;
}
#javaLogo, #nodejsLogo, #androidLogo{
   padding: 0;
}
#javaLogo{
    width: 60px;
    height: 90px;
}
#nodejsLogo{
    width: 160px;
    height: 95px;
}
#androidLogo{
    width: 80px;
    height: 90px;
}
.spanWrapper{
    display: inline-block;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    background-size: 300%;
    border-radius: 5px;
    animation: flow 10s ease-in-out infinite;
    border: none;
    color: #f2f1ef;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4%;
    margin-right: 4px;
    cursor: pointer;
    padding: 0;
}
.spanElement{
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(3, 0, 8);
    margin: 2px 2px;
    padding: 15px 15px;
}
.spanWrapper:hover{
    animation: flow 1s ease-out infinite;
    
}
a:hover .bottom{
    transform: translateY(10px);
}
a:hover .bottom:after{
    border-top-color:white;
    border-right-color:white;
}
.bottom-button-wrapper{
    position: -webkit-sticky;
    position: sticky;
    bottom: 10%;
    left: 50%;
}
.bottom {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 50%;
    margin-left: 0.75em;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #d65b35);
    background-size: 200%;
    transition: 1s ease-in-out;
    animation: flow 10s ease-in-out infinite;
}   
.bottom:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: 0.5em;
    height: 0.5em;
    border-top: 0.1em solid white;
    border-right: 0.1em solid white;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.footer{
    background: rgba(255, 0, 0, 0.05);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: static;
    bottom: 2px;
    text-align: center;
    padding: 8px 0px;
    color: white;
}
.footerText{
    font-family: Fira Code, 'Courier New', Courier, monospace;
}
.heartUnicode{
    animation: throb 1s ease-in-out infinite;
    animation-direction: alternate;
}
.linkToMe{
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
}