@import url('../res/FiraCode_1.206/fira_code.css');
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f2f1ef;
    text-align: center;
    margin: 0;
}
.wrapper {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@keyframes flow{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes jump{
    0%{
        transform: rotate(135deg);
    }
    100%{
        transform: rotate(135deg);
    }
}
@keyframes justRight{
    0%{
        transform: translateX(4px);
        -moz-transform: translateX(4px);
        -webkit-transform: translateX(4px);
    }
    100%{
        transform: translateX(-4px);
        -moz-transform: translateX(-4px);
        -webkit-transform: translateX(-4px);
    }
}
#themeToggle-div{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: table;
    transition: 2s ease-in-out;
}
#close-toggle-msg-btn:hover {
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126) !important; 
    color:transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}
#suitYourEyes{
    display: none;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 5px;
    color: rgba(3, 0, 8, 0.9);
    font-family: Fira Code, 'Courier New', Courier, monospace;
    font-size: 15px;
    vertical-align: middle;
    margin-right: 15px;
    padding: 5px 10px;
    animation: justRight 1s ease-in-out infinite;
    animation-direction: alternate;
}
.themeIndicator{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.firstPage {
    font-size: xx-large;
    color: rgba(3, 0, 8, 0.9);
    font-family: Fira Code, 'Courier New', Courier, monospace;
    page-break-after: always;
}
.firstPage{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%; 
}
@media only screen and (min-width: 470px){
    .helloWorld{
        font-size: 80px;
    }
    .contactLogo {
        margin: 0 30px 30px 30px;
        max-width: auto;
        height: 30px;
    }
}
@media only screen and (max-width: 470px){
    .helloWorld{
        font-size: 60px;
    }
    .contactLogo {
        margin: 0 25px 25px 25px;
        max-width: auto;
        height: 28px;
    }
}
@media only screen and (max-width: 400px){
    .helloWorld{
        font-size: 60px;
    }
    .contactLogo {
        margin: 0 20px 20px 20px;
        max-width: auto;
        height: 25px;
    }
}
@media only screen and (max-width: 370px){
    .helloWorld{
        font-size: 32x;
    }
    .themeIndicator {
        width: 25px;
        height: 25px;
    }
    .contactLogo {
        margin: 0 20px 20px 20px;
        max-width: auto;
        height: 25px;
    }
}
.intro, .helloWorld{
    font-family: Fira Code, 'Courier New', Courier, monospace;
    text-align: left;
}
.intro{
    line-height: 1.5em;
    font-size: 16px;
}
#hello, #world{
    display: inline-block;
}
#h, #e, #l1, #l2, #o1, #w, #o2, #r, #l3, #d, #ex{
    cursor: pointer;
    display: inline-block;
    transition: 1s ease-in-out;
}
/* To display gradient animation over the whole text */
#h{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500%;
    animation: flow 15s ease-in-out infinite;
    animation-direction: alternate;
}
#e{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 20s ease-in-out infinite;
    animation-direction: alternate;
}
#l1{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 25s ease-in-out infinite;
    animation-direction: alternate;
}
#l2{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 30s ease-in-out infinite;
    animation-direction: alternate;
}
#o1{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 35s ease-in-out infinite;
    animation-direction: alternate;
}
#w{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 40s ease-in-out infinite;
    animation-direction: alternate;
}
#o2{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 45s ease-in-out infinite;
    animation-direction: alternate;
}
#r{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500%;
    animation: flow 50s ease-in-out infinite;
    animation-direction: alternate;
}
#l3{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 55s ease-in-out infinite;
    animation-direction: alternate;
}
#d{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 60s ease-in-out infinite;
    animation-direction: alternate;
}
#ex{
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: flow 65s ease-in-out infinite;
    animation-direction: alternate;
}
#h:hover, #e:hover, #l1:hover, #l2:hover, #o1:hover, #w:hover, #o2:hover, #r:hover, #l3:hover, #d:hover, #ex:hover{
    transform: translateY(-20px);              
}
#blogLink{
    text-decoration: none;
    color: #00b5cc;
}
.highlight-text {
    background: linear-gradient(-60deg, #d608ba, #d21342, #e27126);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.content {
    flex: 1;
}
.footer{
    background-color: rgba(238, 238, 238, 1);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding: 20px 0px;
    color: rgba(3, 0, 8, 0.9);
    width: 100%;
}
.footerText{
    font-family: Fira Code, 'Courier New', Courier, monospace;
    font-size: 16px;
}